<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{#each book}}
    <div class="bg-light">
        <p>{{firstname}},{{lastname}}</p>
        {{email}}
        {{contact}}
        {{work}}
        {{expectations}}
        {{date}}
    </div>
    {{/each}}
</body>

</html>